<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}{% endblock titulo %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/scripts/galeria.js"></script>
    {% block estilos %}{% endblock estilos %}
    
</head>
<body style= "background-color: #98DBC6" >
    <header class="container col-12" style="background-color: #5BC8AC; border-radius: 25px; height:80px; margin-bottom:2%">
        <h1 style="text-align:center; vertical-align: middle;"><strong>Galeria</strong></h1>
    </header>

    <article class="container" style="padding-bottom: 3%;">
        {% block contenido %}{% endblock contenido %}
    </article>
    <div style="background-color: #5BC8AC; border-radius: 25px; height: 40px;">
        <p style="text-align:center; vertical-align: middle; padding-top: .7%"><strong>Ana Paola Cházaro Watty</strong></p>
    </div>  
</body>